{% extends "layout.html" %}
{% block content %}


        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <small class="text-muted">Junio 19, 2019</small>
            </div>
            <h2><a class="article-title" href="#">Acerca</a></h2>
            <p class="article-content">
                Hola! Esta es la nueva pagina de NTP hecha en poco tiempo , se consideria Beta. Esta en pleno desarollo, mientrass el tiempo pase se iran agregando features, y ojala que la convivencia dentro de la pagina sea mejor que la de Facebooky tenga mas opciones para comunicarnos.

                Quisiera saber si alguien quisiera ayudar un poco en el desarollo se necesita varias cosas , como  :

                <ul>
                <li>Agregar el BBCode a las respuestas y a los posts.</li>
                <li>Agregar emoticones, Una idea es utilizar <a href="https://pypi.org/project/flask-phantom-emoji/">Flask Phantom Emoji Package</a></li>
                <li>Mejorar el diseño</li>
              <li>Mejorar la experiencia de usuario.</li>
              <li>Todas las ideas son aceptadas.</li>
                </ul>



                Quien quiera contribuir a la pagina con el diseño estariamos totalmente agradecidos. Ahora a esperar! el que se quiera comunicar conmigo, dejo el mail abajo.

                Junio 2019
                A NTP dev

              , e'mail`ch0_0 [at] pm [dot] me+.
            </p>
          </div>
        </article>

{% endblock content %}